<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/animate/animate.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/all.css">
    <link rel="stylesheet" href="plugins/webfonts/font.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="plugins/uikit/uikit.min.css" />

    <title>Đèn chùm</title>

</head>

<body>
<!--------------------------Header---------------------->

<div class="header">
    <a style="color: #ffffff;text-decoration: none;" href="index.html">MIỄN PHÍ VẬN CHUYỂN VỚI ĐƠN HÀNG NỘI THÀNH > 300K
        - ĐỔI TRẢ TRONG 30 NGÀY - ĐẢM BẢO CHẤT LƯỢNG</a>
</div>

<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">

    <div class="container">
        <a class="navbar-brand" href="index.html">

            <img src="images/logo.png"  class="logo-top" alt="">
        </a>
        <div class="desk-menu collapse navbar-collapse justify-content-md-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/trangchu">TRANG CHỦ</a>
                </li>

                <li class="nav-item lisanpham">
                    <a class="nav-link" href="/danhsachsanpham">DANH SÁCH SẢN PHẨM
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                    <ul class="sub_menu">
                        <li class="">
                            <a href="" title="ĐÈN TRANG TRÍ">
                                <a href="/dentrangtri"> ĐÈN TRANG TRÍ</a>
                            </a>
                        </li>
                        <li class="">
                            <a href="" title="ĐÈN CHÙM">
                                <a href="/denchum"> ĐÈN CHÙM </a>
                            </a>
                        </li>
                        <li class="">
                            <a href="/denoptran" title="ĐÈN ỐP TRẦN">
                                ĐÈN ỐP TRẦN
                            </a>
                        </li>
                        <li class="">
                            <a href="/dencay" title="ĐÈN CÂY">
                                ĐÈN CÂY
                            </a>
                        </li>
                        <li class="">
                            <a href="/dentha" title="ĐÈN THẢ">
                                ĐÈN THẢ
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gioithieu">GIỚI THIỆU</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/lienhe">LIÊN HỆ</a>
                </li>
            </ul>
        </div>


    </div>
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar" style="    background: white;
            width: 350px;">


            <h3 style="font-size: 14px;
                color: #272727;
                text-transform: uppercase;
                margin: 3px 0 30px 0;
                font-weight: 500; letter-spacing: 2px;">Tìm kiếm</h3>
            <form  action="/products-search" method="GET">
                <label for="exampleInputEmail1">Tim Kiem</label>
                <input type="text" name="input1" placeholder="nhap tu khoa tim kiem">
                <a><button type="submit" class="btn btn-info">Tìm</button></a>
            </form>

        </div>
    </div>

    <div class="icon-ol">
        <a style="color: #272727" href="signin.html">
            <i class="fas fa-user-alt"></i>
        </a>
        <a href="#" class="" uk-toggle="target: #offcanvas-flip">
            <i class="fas fa-search" style="color: black"></i>
        </a>

        <button class="navbar-toggler" type="button" uk-toggle="target: #offcanvas-flip1" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </div>
    </div>

</nav>
<!-- Owl-Carousel -->
<div class="owl-carousel owl-theme owl-carousel-setting">
    <div class="item"><img src="images/Den-01.jpg" class="d-block w-100" alt="..."></div>
    <div class="item"><img src="images/Den-02.jpg" class="d-block w-100" alt="..."></div>
    <div class="item"><img src="images/Den-03.jpg" class="d-block w-100" alt="..."></div>
</div>


<!--Content-->
<div class="content">
    <div class="container">
        <div class="hot_sp" style="padding-bottom: 10px;">
            <h2 style="text-align:center;padding-top: 10px">
                <a style="font-size: 28px;color: black;text-decoration: none" href="">Đèn chùm</a>
            </h2>
            <div class="view-all" style="text-align:center;padding-top: -10px;">
                <h5>
                    Đèn chùm là một sản phẩm nội thất trang trí được sử dụng phổ biến nhất hiện nay. Bên cạnh vai trò chiếu sáng không gian thì
                    các mẫu đèn chùm đẹp còn tạo nên một không gian vô cùng sang trọng, ấn tượng và đẳng cấp.
                </h5>
            </div>
        </div>
    </div>
    <!--Product-->
    <div class="container" style="padding-bottom: 50px;">
        <div class="row">
            <% for(var j=0;j<products.length;j++){ %>
            <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                <div class="product-block">
                    <div class="product-img fade-box">
                        <img src="/image/<%=products[j].LinkImg1%>.jpg"  class="lazyloaded">
                        <a href="#" title="Adidas EQT Cushion ADV" class="img-resize">
                            <img src="images/shoes/dentha1-1.jpg"
                                 alt="" class="lazyloaded">
                            <img src="images/shoes/dentha1-3.jpg" alt="" class="lazyloaded">
                        </a>

                    </div>
                    <div class="product-detail clearfix">
                        <div class="pro-text">
                            <a style=" color: black;
                                                  font-size: 14px;text-decoration: none;" href="#"
                               title="Adidas EQT Cushion ADV" inspiration pack>
                                <a href="/products-detail?PID=<%= products[j].PID %>">   <%=products[j].Name%> </a>
                            </a>
                        </div>
                        <div class="pro-price">
                            <p class=""><%=products[j].Price%>VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
        </section>
        <section class="">
            <div class="content">
                <div class="container">
                    <div class="hot_sp">
                        <h2 style="text-align:center;padding-top: 10px">
                            <a style="font-size: 28px;color: black;text-decoration: none" href="">Bài viết mới nhất</a>
                        </h2>
                        <br />
                    </div>
                </div>
            </div>
            <!--New-->
            <div>

                <div class="container">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="post_item">
                                <div class="post_featured">
                                    <a href="#" title="">
                                        <img class="img-resize" style="padding-bottom:15px;" src="images/baivietmoinhat1.jpg">
                                    </a>
                                </div>
                                <div class="pro-text">
                  <span class="post_info_item">

                     Thứ Ba 05/05/2022

                  </span>
                                </div>
                                <div class="pro-text">
                                    <h3 class="post_title">
                                        <a style=" color: black;
                                  font-size: 18px;text-decoration: none;" href="#" inspiration pack>
                                            Bí quyết chọn đèn led trang trí phòng ngủ
                                        </a>
                                    </h3>
                                </div>
                                <div style="text-align:center; padding-bottom: 30px;">
                  <span>Mỗi phòng ngủ đều có hướng và phong cách thiết kế khác nhau. Vì vậy, khi chọn đèn LED trang trí,
                    bạn nên cân nhắc thật kỹ hoặc tham khảo ngay những bí quyết chọn đèn LED trang trí phòng ngủ
                    "vàng" được chia sẻ...</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="post_item">
                                <div class="post_featured">
                                    <a href="#" title="">
                                        <img class="img-resize" style="padding-bottom:15px;" src="images/baivietmoinhat2.jpg">
                                    </a>
                                </div>
                                <div class="pro-text">
                  <span class="post_info_item">

                    Thứ Hai 11/06/2022

                  </span>
                                </div>
                                <div class="pro-text">
                                    <h3 class="post_title">
                                        <a style=" color: black;
                                                  font-size: 18px;text-decoration: none;" href="#" inspiration pack>
                                            Kinh nghiệm mua đèn học cho con cực kỳ hữu ích
                                        </a>
                                    </h3>
                                </div>
                                <div style="text-align:center; padding-bottom: 30px;">
                  <span>Với kinh nghiệm mua đèn học cho con được đúc kết trong rất nhiều năm kinh doanh lĩnh vực đèn nội thất.
                    Đèn Ánh Sáng sẽ giúp Quý phụ huynh, Quý khách tìm được mẫu đèn học cho con phù hợp nhất,
                    bảo đảm cả tính thẩm mỹ và các tiêu chuẩn chiếu sáng Bộ Y tế mới nhất (2016)...</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="post_item">
                                <div class="post_featured">
                                    <a href="#" title="">
                                        <img class="img-resize" style="padding-bottom:15px;" src="images/baivietmoinhat3.jpg">
                                    </a>
                                </div>
                                <div class="pro-text">
                  <span class="post_info_item">

                    Thứ Bảy 22/08/2022

                  </span>
                                </div>
                                <div class="pro-text">
                                    <h3 class="post_title">
                                        <a style=" color: black;
                                      font-size: 18px;text-decoration: none;" href="#" inspiration pack>
                                            Có nên mua quạt trần đèn hay không?
                                        </a>
                                    </h3>
                                </div>
                                <div style="text-align:center; padding-bottom: 30px;">
                  <span>Người Việt đang dần quan tâm hơn tới việc trang trí nội thất có tính ứng dụng cao cho ngôi nhà của mình.
                    Trong đó, quạt trần đèn là nội thất phòng khách được quan tâm hơn cả.
                    Tuy nhiên, câu hỏi được đặt ra lúc này là có nên mua quạt trần đèn hay không...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--------------------------Footer---------------------->




            <footer class="main-footer">
                <div class="container">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="footer-col footer-block">
                                    <h4 class="footer-title">
                                        Giới thiệu
                                    </h4>
                                    <div class="footer-content">
                                        <p>Chic Lighting là trang mua sắm trực tuyến của thương hiệu đèn trang trí giúp bạn tiếp
                                            cận xu hướng công nghệ đèn trang trí mới nhất.</p>
                                        <div class="logo-footer">
                                            <img src="images/logo-bct.png" alt="Bộ Công Thương">
                                        </div>
                                        <div class="social-list">
                                            <a href="#" class="fab fa-facebook"></a>
                                            <a href="#" class="fab fa-google"></a>
                                            <a href="#" class="fab fa-twitter"></a>
                                            <a href="#" class="fab fa-youtube"></a>
                                            <a href="#" class="fab fa-skype"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="footer-col footer-link">
                                    <h4 class="footer-title">
                                        PHÁP LÝ &amp; CÂU HỎI
                                    </h4>
                                    <div class="footer-content toggle-footer">
                                        <ul>
                                            <li class="item">
                                                <a href="#" title="Tìm kiếm">Tìm kiếm</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="Giới thiệu">Giới thiệu</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="Chính sách đổi trả">Chính sách đổi trả</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="Chính sách bảo mật">Chính sách bảo mật</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="footer-col footer-block">
                                    <h4 class="footer-title">
                                        Thông tin liên hệ
                                    </h4>
                                    <div class="footer-content toggle-footer">
                                        <ul>
                                            <li><span>Địa chỉ:</span> 8 Tôn Thất Thuyết, Cầu Giấy, Hà Nội, Vietnam</li>
                                            <li><span>Điện thoại:</span> +84 (024) 99999999</li>
                                            <li><span>Fax:</span> +84 (024) 99999999</li>
                                            <li><span>Mail:</span> Nhom4T2203E@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="footer-col footer-block">
                                    <h4 class="footer-title">
                                        FANPAGE
                                    </h4>
                                    <div class="footer-content">
                                        <div id="fb-root">
                                            <div class="footer-static-content">
                                                <div class="fb-page" data-href=""
                                                     data-tabs="timeline" data-width="" data-height="215" data-small-header="false"
                                                     data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                                    <blockquote cite=""
                                                                class="fb-xfbml-parse-ignore"><a
                                                                href="https://www.facebook.com/groups/1605312529830603/?multi_permalinks=1701751043520084&notif_id=1660190024831977&notif_t=group_activity&ref=notif">CHIC LIGHTING</a>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-footer--copyright">
                    <div class="container">
                        <hr>
                        <div class="main-footer--border" style="text-align:center;padding-bottom: 15px;">
                            <p>Copyright © 2022 <a href=""> Chic Lighting</a>. <a target="_blank"
                                                                                  href="">Powered by Nhom4T2203E</a></p>
                        </div>
                    </div>
                </div>
            </footer>

    </div>
    <!--  <div class="registratior_custom">-->
    <!--    <form action="">-->
    <!--        <div class="content">-->
    <!--          <div class="x-close">-->
    <!--            <i class="fa fa-times"></i>-->
    <!--          </div>-->
    <!--          <h3>Nhận các ưu đãi cùng Runner</h3>-->
    <!--          <p>Chúng tôi sẽ cập nhật các chương trình khuyến mãi mới đến bạn</p>-->
    <!--          <ul>-->
    <!--            <li>-->
    <!--              <span>Giảm giá sản phẩm</span>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--              <span>Sản phẩm mới</span>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--              <span>Sản phẩm bán chạy/span>-->
    <!--            </li>-->
    <!--          </ul>-->
    <!--          <input type="text" placeholder="Đăng kí nhận thông tin">-->
    <!--          <button class="button_register"><p>ĐĂNG KÍ</p></button>-->
    <!--        </div>-->
    <!--    </form>-->
    <!--  </div>-->
    <script async defer crossorigin="anonymous" src="plugins/sdk.js"></script>
    <script src="plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="plugins/bootstrap/popper.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/owl.carousel/owl.carousel.min.js"></script>
    <script src="js/home.js"></script>
    <script src="js/script.js"></script>
    <script src="plugins/uikit/uikit.min.js"></script>
    <script src="plugins/uikit/uikit-icons.min.js"></script>
</body>

</html>
