<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gio hang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="vendor/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap&subset=vietnamese" rel="stylesheet">

    <!-- <script type="text/javascript" src="jqueryupload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="jqueryupload/js/jquery.fileupload.js"></script> -->
    <script type="text/javascript" src="vendor/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="vendor/imagesloaded.pkgd.min.js"></script>
    <!--    Font Awesome Icons-->
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="css/lab4.css">
    <link rel="stylesheet" href="libs/nivoslider/default/default.css">
    <link rel="stylesheet" href="libs/nivoslider/nivo-slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="libs/fontawesome/css/all.css">
    <!--    Bosung-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/animate/animate.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/all.css">
    <link rel="stylesheet" href="plugins/webfonts/font.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="plugins/uikit/uikit.min.css" />

    <!-- 	<script type="text/javascript" src="1.js"></script>-->
    <link rel="stylesheet" href="css/giohang.css">
    <!--    bosung-->
    <style>

    </style>

</head>
<body>

<!--------------------------Header---------------------->

<div class="header">
    <a style="color: #ffffff;text-decoration: none;" href="index.html">MIỄN PHÍ VẬN CHUYỂN VỚI ĐƠN HÀNG NỘI THÀNH > 300K
        - ĐỔI TRẢ TRONG 30 NGÀY - ĐẢM BẢO CHẤT LƯỢNG</a>
</div>

<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">

    <div class="container">
        <a class="navbar-brand" href="index.html">

            <img src="images/logo.png"  class="logo-top" alt="">
        </a>
        <div class="desk-menu collapse navbar-collapse justify-content-md-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/trangchu">TRANG CHỦ</a>
                </li>

                <li class="nav-item lisanpham">
                    <a class="nav-link" href="/danhsachsanpham">DANH SÁCH SẢN PHẨM
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                    <ul class="sub_menu">
                        <li class="">
                            <a href="" title="ĐÈN TRANG TRÍ">
                                <a href="/dentrangtri"> ĐÈN TRANG TRÍ</a>
                            </a>
                        </li>
                        <li class="">
                            <a href="" title="ĐÈN CHÙM">
                                <a href="/denchum"> ĐÈN CHÙM </a>
                            </a>
                        </li>
                        <li class="">
                            <a href="/denoptran" title="ĐÈN ỐP TRẦN">
                                ĐÈN ỐP TRẦN
                            </a>
                        </li>
                        <li class="">
                            <a href="/dencay" title="ĐÈN CÂY">
                                ĐÈN CÂY
                            </a>
                        </li>
                        <li class="">
                            <a href="/dentha" title="ĐÈN THẢ">
                                ĐÈN THẢ
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gioithieu">GIỚI THIỆU</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/lienhe">LIÊN HỆ</a>
                </li>
            </ul>
        </div>


    </div>
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar" style="    background: white;
            width: 350px;">


            <h3 style="font-size: 14px;
                color: #272727;
                text-transform: uppercase;
                margin: 3px 0 30px 0;
                font-weight: 500; letter-spacing: 2px;">Tìm kiếm</h3>
            <form  action="/products-search" method="GET">
                <label for="exampleInputEmail1">Tim Kiem</label>
                <input type="text" name="input1" placeholder="nhap tu khoa tim kiem">
                <a><button type="submit" class="btn btn-info">Tìm</button></a>
            </form>

        </div>
    </div>

    <div class="icon-ol">
        <a style="color: #272727" href="signin.html">
            <i class="fas fa-user-alt"></i>
        </a>
        <a href="#" class="" uk-toggle="target: #offcanvas-flip">
            <i class="fas fa-search" style="color: black"></i>
        </a>

        <button class="navbar-toggler" type="button" uk-toggle="target: #offcanvas-flip1" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </div>
    </div>

</nav>
<!-- Owl-Carousel -->
<div class="owl-carousel owl-theme owl-carousel-setting">
    <div class="item"><img src="images/Den-01.jpg" class="d-block w-100" alt="..."></div>
    <div class="item"><img src="images/Den-02.jpg" class="d-block w-100" alt="..."></div>
    <div class="item"><img src="images/Den-03.jpg" class="d-block w-100" alt="..."></div>
</div>



<!-----------------------giohangchitiet------------------------->

<div class="giohangchitiet">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <h2>Bag</h2> -->
            </div>
            <div class="col-sm-12">
                <table class="shop_table table fontroboto">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">Ảnh sản phẩm</th>
                        <th class="product-name">Tên sản phẩm</th>
                        <th class="product-price">Đơn giá</th>
                        <th class="product-subtotal">Số lượng</th>
                        <th class="product-remove">Thành tiền</th>
                        <th class="product-remove">Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="cart-item">
                        <td class="product-thumbnail"><img src="images/shoes/den-chum-phong-khach-chung-cu-2.jpeg" width="100px" alt=""></td>
                        <td class="product-name">DTT-01</td>
                        <td class="product-price">3.100.000</td>
                        <td class="product-price"><input type="number" min="0" value="1" max="100"></td>
                        <td class="product-subtotal">3.100.000</td>
                        <td class="product-remove"><i class="fa fa-trash-o" style="font-size:36px"></i></td>
                    </tr>
                    <tr class="cart-item">
                        <td class="product-thumbnail"><img src="images/shoes/den-chum-phong-khach-chung-cu-3.jpeg" width="100px" alt=""></td>
                        <td class="product-name">DC-04</td>
                        <td class="product-price">14.500.000</td>
                        <td class="product-price"><input type="number" min="0" value="2" max="100"></td>
                        <td class="product-subtotal">29.000.000</td>
                        <td class="product-remove"><i class="fa fa-trash-o" style="font-size:36px"></i></td>
                    </tr>
                    <tr class="cart-item">
                        <td class="product-thumbnail"><img src="images/shoes/den-chum-phong-khach-chung-cu-4.jpeg" width="100px" alt=""></td>
                        <td class="product-name">DT-03</td>
                        <td class="product-price">2.900.000</td>
                        <td class="product-price"><input type="number" min="0" value="1" max="100"></td>
                        <td class="product-subtotal">2.900.000</td>
                        <td class="product-remove"><i class="fa fa-trash-o" style="font-size:36px"></i></td>
                    </tr>

                    </tbody>
                </table>
                <div class="actions">

                    <div class="col-sm-12">
                        <div class="detail_cart">
                            <!--                                <div class="coupon">-->
                            <!--                                    <span class="label fontroboto" style="font-weight: bold;">Mã Giảm Giá</span>-->
                            <!--                                    <input type="text" class="coupon_code" placeholder="Nhập Mã Giảm Giá">-->
                            <!--                                    <button type="submit" class="apply_code field-input-btn btn  btn-disabled" value="Nhập" style="font-weight: bold;">-->
                            <!--                                        Áp dụng-->
                            <!--                                    </button>-->
                            <!--                                </div>-->
                            <div class="total_cart fontroboto">
                                <h2 >Tổng tiền</h2>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Tạm tính</th>
                                        <td style="padding-left: 50px;">35.000.000đ</td>

                                    </tr>
                                    <tr>
                                        <th>Tổng cộng</th>
                                        <td style="padding-left: 50px;">35.000.000đ</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="/thongtinvanchuyen" class="checkout btn btn-warning">Tiến hành đặt hàng</a>
                                <a href="" class="checkout btn btn-warning">Tiếp tục mua sắm</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<!--------------------------Footer---------------------->




<footer class="main-footer">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-block">
                        <h4 class="footer-title">
                            Giới thiệu
                        </h4>
                        <div class="footer-content">
                            <p>Chic Lighting là trang mua sắm trực tuyến của thương hiệu đèn trang trí giúp bạn tiếp
                                cận xu hướng công nghệ đèn trang trí mới nhất.</p>
                            <div class="logo-footer">
                                <img src="images/logo-bct.png" alt="Bộ Công Thương">
                            </div>
                            <div class="social-list">
                                <a href="#" class="fab fa-facebook"></a>
                                <a href="#" class="fab fa-google"></a>
                                <a href="#" class="fab fa-twitter"></a>
                                <a href="#" class="fab fa-youtube"></a>
                                <a href="#" class="fab fa-skype"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-link">
                        <h4 class="footer-title">
                            PHÁP LÝ &amp; CÂU HỎI
                        </h4>
                        <div class="footer-content toggle-footer">
                            <ul>
                                <li class="item">
                                    <a href="#" title="Tìm kiếm">Tìm kiếm</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Giới thiệu">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Chính sách đổi trả">Chính sách đổi trả</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Chính sách bảo mật">Chính sách bảo mật</a>
                                </li>
                                <li class="item">
                                    <a href="#" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-block">
                        <h4 class="footer-title">
                            Thông tin liên hệ
                        </h4>
                        <div class="footer-content toggle-footer">
                            <ul>
                                <li><span>Địa chỉ:</span> 8 Tôn Thất Thuyết, Cầu Giấy, Hà Nội, Vietnam</li>
                                <li><span>Điện thoại:</span> +84 (024) 99999999</li>
                                <li><span>Fax:</span> +84 (024) 99999999</li>
                                <li><span>Mail:</span> Nhom4T2203E@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="footer-col footer-block">
                        <h4 class="footer-title">
                            FANPAGE
                        </h4>
                        <div class="footer-content">
                            <div id="fb-root">
                                <div class="footer-static-content">
                                    <div class="fb-page" data-href=""
                                         data-tabs="timeline" data-width="" data-height="215" data-small-header="false"
                                         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                        <blockquote cite=""
                                                    class="fb-xfbml-parse-ignore"><a
                                                    href="https://www.facebook.com/groups/1605312529830603/?multi_permalinks=1701751043520084&notif_id=1660190024831977&notif_t=group_activity&ref=notif">CHIC LIGHTING</a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer--copyright">
        <div class="container">
            <hr>
            <div class="main-footer--border" style="text-align:center;padding-bottom: 15px;">
                <p>Copyright © 2022 <a href=""> Chic Lighting</a>. <a target="_blank"
                                                                      href="">Powered by Nhom4T2203E</a></p>
            </div>
        </div>
    </div>
</footer>









</body>
</html>
